@tailwind base;
@tailwind components;
@tailwind utilities;

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: rgb(55 65 81);
}
[contentEditable="true"]:empty:focus:before {
  content: attr(data-placeholder);
  color: rgb(107 114 128);
}
