body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #ffffff;
    margin: 0;
}

#chat-container {
    width: 90%;
    /* max-width: 600px; */
}
 
#chat-box {
    border: 0px solid #ccc;
    border-radius: 8px;
    background: #fff;
    padding: 10px;
}

#messages {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}

.message {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 0;
    position: relative;
}

.user {
    background: #e6f7ff;
}

.bot {
    background: #ffebcc;
}

.editable[contenteditable="true"]:empty:before {
    content: attr(data-placeholder);
    color: #999;
}

.branch-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

.branch {
    flex: 1;
    margin: 0 5px;
}

.dots-message{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #e1ffc7; */
    /* padding: 10px; */
    border-radius: 10px;
    position: relative;
    /* max-width: 80%; */
    margin-bottom: 10px;
    
}
.dots-container {
    display: flex;
    gap: 8px;
}
.dot {
    width: 8px;
    height: 8px;
    /* background-color: #d6e2ef; */
    background-color: grey;
    border-radius: 50%;
    animation: bounce 1.4s infinite;
}
.dot:nth-child(2) {
    animation-delay: 0.2s;
}
.dot:nth-child(3) {
    animation-delay: 0.4s;
}
@keyframes bounce {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.5); }
}